Flask==3.0.3
Flask-Cors==4.0.1
gunicorn==22.0.0
langchain==0.2.6
langchain-core==0.2.10
langgraph==0.1.1
langchain-openai==0.1.10
langchain-fireworks==0.1.3
langchain-pinecone==0.1.1
python-dotenv==1.0.1
Ipython
supabase==2.5.1
pandas==2.2.2
flask-cors==4.0.1
langdetect==1.0.9
boto3==1.35.4
botocore==1.35.4
jmespath==1.0.1
s3transfer==0.10.2
